@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300&display=swap");

.about {
  width: 100%;
  position: relative;
  margin-bottom: 70px;

  .intro {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 43vw;
    height: 20vh;
    background-color: rgb(236, 228, 216);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 3rem;
      width: auto;
      font-family: "Poppins", sans-serif;
    }

    @media screen and (max-width: 1020px) {
      width: 80vw;
      height: fit-content;
    }
  }

  .about-info {
    padding-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    article {
      width: 30vw;
      padding-top: 5rem;
      margin: 3rem auto;

      p {
        font-size: 1.3rem;
        font-family: "Poppins", sans-serif;
      }
    }
    img {
      width: 60vw;
      height: auto;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    @media screen and (max-width: 1020px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      article {
        width: 80vw;
      }

      img {
        width: 80vw;
      }
    }
  }
}
