.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;

  h1 {
    font-size: clamp(1.5rem, 5vw, 4rem);
  }

  .icon {
    font-size: clamp(1.5rem, 5vw, 5rem);
    color: #22b662;
  }

  p {
    width: 50vw;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    text-align: center;
  }

  .back {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem auto 2rem auto;
    text-decoration: none;
    color: #333;
  }
}
